<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
	<link rel="stylesheet" href="static/js/style.css">
</head>
<body>

	<div class="form">
		<h1>Вход</h1>
		<div class="input-form">
			<input type="text" placeholder="Логин">
		</div>
		<div class="input-form">
			<input type="password" placeholder="Пароль">
		</div>
		<div class="input-form">
			<form method="post">
			 {% csrf_token %}
        		{{ form.as_p }}
			<input type="submit" value="Войти">

		<div>
		<a href="{% url 'registration' %}">Зарегистрироваться</a>
		</div>


 </body>
</html>