{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход на сайт</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="registration-form">
        <h1>Вход на сайт</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>

        </form>
        <h4 class="register-account">Если у Вас нет аккаунта, Вы можете <a href="{% url 'registration' %}">зарегистрироваться</a></h4>
    </div>
</body>
</html>
