{% extends 'base.html'%}
{% load static %}


{% block title %}
{{ book.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row justify-content-center">
      <div class="col-md-8">
           {% for genre in genres %}
        <a href="{% url 'books_list_url' genre.slug %}" class="btn btn-primary mt-2">Back</a>
          {% endfor %}
          <div class="card m-5 p-2" style="width: 30rem;">
            {% if book.image %}
              <center><img style="width: 300px; height: 500px" src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}"></center>
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title m-1"><b>Title:</b> {{ book.title }}</h5>
                  <h4 class="card-subtitle m-1"><b>Price: </b> ${{ book.price }}</h4>
                  <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ book.author.name }} {{  book.author.last_name }}</p>
                  <form action="{% url 'order:cart_add_url' book.id %}" method="post">
                      {% csrf_token %}
                      {{ cart_book_form }}

                      <input type="submit" value="Add to cart">

                  </form>
                  <p style="font-size: 15px;" class="card-text mt-1">Description: {{ book.description }}</p>

              </div>
          </div>
      </div>



<div class="col-md-4" style="margin-top: 45px">
         <div style="margin: 5px; padding:2px">
            Add Comments ({{ num_comments }})
            <br>
            <hr>

            {% if not book.comments.all %}

                <p>Not comments added yet...</p>
               <p><a class="btn btn-primary" href="{% url 'add_comment_url' book.id %}">  Add Comment </a></p>

            {% else %}

                {% for comment in book.comments.all %}
                    <img style="width: 80px; height: 80px" src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg">

                    <h5><strong>{{ comment.commenter_name }}</strong></h5>
                    <p>{{ comment.comment_body }}</p>
                    <p><small>{{ comment.date_added }}</small></p>

                    {% if request.user.username == comment.commenter_name %}

                        <p><a class="btn btn-primary" href="{% url 'add_comment_url' book.id %}">  Add Comment </a></p>
                        <p><a class="btn btn-danger" href="{% url 'delete_comment_url' book.id %}">  Delete Comment </a></p>


                    {% endif %}



                {% endfor %}

            {% endif %}
</div>
      </div>
  </div>

</div>


{% endblock %}

{% block admin-panel %}

    <a href="{% url 'update_book_url' book.id %}" class="btn btn-primary m-1">Edit</a>
    <a href="{% url 'delete_book_url' book.id %}" class="btn btn-danger m-1">Delete</a>
{% endblock %}