{% extends 'base.html'%}
{% load static %}

{% block content %}
<center>
<img style="width: 70%; height: 70%" src="{% static 'img/book.jpeg'%}" class="img-fluid" alt="...">
  </center>


<div style="margin-top:30px; margin-bottom: 30px;" class="container px-4">
  <div class="row gx-5">
    {% for genre in genres %}
    <div class="col-6" style="margin-bottom: 20px">
     <center>
      <div class="p-3 border bg-light" style="width: 23rem ;box-shadow: 4px 4px #f19568; border-radius: 25px 15px"><center><a href="{% url 'books_list_url' genre.slug %}" style="font-family: 'Comic Sans MS' ;color: #013220">{{  genre.name  }}</a></center></div>
       </center>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}